.page {
  width: 100%;
  font-family: 'Inter', Arial, sans-serif;
  background-color: black;
  color: #ffffff;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
