.profile__editbutton {
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  background: url(../../../images/editbutton.svg) no-repeat center;
  margin-left: 18px;
  margin-top: 8px;
  box-sizing: border-box;
}
.profile__editbutton:hover {
  transition: 0.5s ease;
  opacity: 0.6;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .profile__editbutton {
    width: 18px;
    height: 18px;
    margin: 3px 0 0 10px;
    background-size: 7.5px;
  }
}
