.element__like-button {
  width: 22px;
  height: 19px;
  background: url(../../../images/like.svg) no-repeat center;
  border: none;
  flex-shrink: 0;
}
.element__like-button:hover {
  transition: 0.5s ease;
  opacity: 0.6;
  cursor: pointer;
}
